*{
    margin:0;
    padding: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block;}

html,body{
    height:100%;
    width:100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button {cursor:pointer;}
button::-moz-focus-inner{padding: 0; border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style:none;}
img{vertical-align:top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

html{
  font-size: 10px;
}

/* One_rectangle */
/* @media (max-width:3840px){
  .rectangle_one {
    width: 1140px;
    min-height:355px;
    position: absolute;
    padding: 23px;
    left: 81px;
    top: 23px;
    background: #C3A7F1;
    border-radius: 45px;
  }
  .rectangle_one_content {
    display: flex;
    justify-content: space-between;
  }
  
  .header-container {
    display: flex;
    margin: 10px 0 30px 0;
    align-items: center;
  }
  
  h2 {
    position: relative;
    width: 159px;
    height: 33px;
    left: 50px;
    top: 5px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 82px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  h1 {
    position: relative;
    width: 273px;
    height: 33px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  .rectangle_one_text p {
    position: relative;
    width: 749px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
  }
} */


@media (min-width:1200px) and (max-width:1920px){
  .rectangle_one {
      min-width: 59.3%; /* 1140*100/1920 */
      min-height:32.8%; /* 355*100/1080 */
      position: absolute;
      padding: 23px;
      left: 4.2%;
      top: 2.1%;
      background: #C3A7F1;
      border-radius: 45px;
      -webkit-border-radius: 45px;
      -moz-border-radius: 45px;
      -ms-border-radius: 45px;
      -o-border-radius: 45px;
}
    .rectangle_one_content {
      display: flex;
      justify-content: space-between;
    }

    .rectangle_one_content img{
      width: 26.8%; /* 306*100/1140 */
      height:87%; /* 309*100/355 */
    }
    
    .header-container {
      display: flex;
      margin: 10px 0 30px 0;    
    }
    
    .rectangle_one_text h1 {
      position: relative;
      width: 27.3rem;
      height: 3.3rem;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 7rem;
      line-height: 11.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
   .rectangle_one_text h2 {
      position: relative;
      width: 15.9rem;
      height: 3.3rem;
      left: 5rem;
      top: 0.5rem;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 5rem;
      line-height: 8.2rem;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
    
    .rectangle_one_text p{
      position: relative;
      width: 74.9rem;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2.2rem;
      color: #000000;
    }
}
  
  /* Медиазапрос для мобильных устройств */
  @media (min-width:350px) and (max-width: 800px) {
    .rectangle_one {
      position: absolute;
      width: 77%; /*Ширина и высота с учетом заданных отступов*/
      min-height: 49.8%;
      top: 9.1rem; /*91px */
      left:4.4rem; /*44px*/
      right:4.4rem; 
      padding: 0;
      margin: 0 auto;
      
      background: #C3A7F1;
      border-radius: 45px;
    }
   .rectangle_one_content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5.9%; /*18 px в процентах*/
  }

  .rectangle_one_content img{
    width:auto;
    height:auto;
  }
    .header-container {
      display: flex;
      flex-direction: column;
    }

    h1 {
      position: relative;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 800;
      font-size: 3.6rem; /*Относительно начального index{font-size=10px} */
      line-height: 5.92rem;
      display: flex;
      justify-content: center;
      color: #000000;
    }
    h2 {
      position: relative;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 2.7rem;
      line-height: 4.4rem;
      display: flex;
      justify-content: center;
      
      color: #000000;
    }
    .rectangle_one_text{
      position: relative;
      width:100%;
    }

    .rectangle_one_text p {
      position: relative;
      width: 92%; /*Ширина задана относительно ширины блока и отступов по бокам*/
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2.2rem;
      color: #000000;
      text-align:center;
      margin: 0 auto;
}
  }



                                /* Two_rectangle */

/* @media(max-width:3840px){
  .rectangle_two {
    width: 1140px;
    min-height:355px;
    position: absolute;
    padding: 23px;
    top:448px;
    right:23px;
    background: #C3A7F1;
    border-radius: 45px;
  }  */

  /* .content_two {
    display: flex;
    justify-content: space-between;
  }
  
  .header-container {
    display: flex;
    margin: 10px 0 30px 0;
    align-items: center;
  } */
  

  
  /* .h1_two {
    position: relative;
    width: 273px;
    height: 33px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  
  .text_2 p {
    position: relative;
    min-width: 749px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
  }

} */

/* @media(max-width:1920px){

  .rectangle_two {
      width: 1140px;
      min-height:355px;
      position: absolute;
      padding: 23px;
      top:448px;
      right:23px;
      background: #C3A7F1;
      border-radius: 45px;
    } 

    .content_two {
      display: flex;
      justify-content: space-between;
    }
    
    .header-container {
      display: flex;
      margin: 10px 0 30px 0;
      align-items: center;
    }
    
    .h2_two  {
      position: relative;
      width: 159px;
      height: 33px;
      left: 50px;
      top: 5px;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 82px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }
    
    .h1_two {
      position: relative;
      width: 273px;
      height: 33px;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 70px;
      line-height: 115px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }

    
    .text_2 p {
      position: relative;
      min-width: 749px;
      font-family: 'News Cycle';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      color: #000000;
    }

}

 @media(max-width:1200px){
  .rectangle_two {
    position: absolute;
    width: 0;
    min-height: 0;
    left: 0;
    top: 0;
    padding: 0;
    background: #C3A7F1;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
}
  .content_two{
    display: flex;
    flex-direction: column;
    padding: 23px;
    opacity: 0%;
  } 
 .header-container {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    position: relative;
    left: 50px;
    top: 5px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 82px;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  h1 {
    position: relative;
    width: 273px;
    height: 33px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
  } 
  
   .text p {
    position: relative;
    width: 374px;
    min-height:20px;
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    text-align: justify;
    margin:0 auto;

    hyphens:auto;
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
}
}  */
                                  
/* Медиазапрос для мобильных устройств */
/* @media (max-width: 800px) {
.rectangle_two {
 width: 305px;
 left: 44px;
top: 91px;
}
} */
                                  
                              